@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  
}
 

.swiper_container {  
 
  width: 70%;
  margin: auto;
  overflow: visible;
  padding: 20px; 
  height: 80vh;   

}
 
.swiperSlide.swiper-slide-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  transform: scale(1.2) !important;
  overflow: visible;
  z-index: 2;
}
 
.swiperSlide.swiper-slide-prev,
.swiperSlide.swiper-slide-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d6b600; 
  transform: scale(0.9) !important; 
  opacity: 0.9; 
  z-index: 1;
}

.swiperSlide.swiper-slide-prev *:not(img),
.swiperSlide.swiper-slide-next *:not(img) {
  display: none; 
}
 
.swiperSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  min-width: 500px;
  max-height: 520px;
  background-color: black;
  border: 1px solid rgb(255, 242, 0);
  padding: 20px;
  overflow: hidden;
  margin: auto;
}

@media screen   and (max-width: 2500px) {
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 70px !important;
    left: 20px;
    
  }
  .swiperSlide.swiper-slide-prev,
  .swiperSlide.swiper-slide-next {
     
    transform: scale(0.5) !important; 
    opacity: 0.9; 
    z-index: 1;
  }
  .swiperSlide {
    /* background-color: red; */
    min-width: 300px;
    max-height: 500px;
    padding: 15px;
  }
}
@media screen  and (max-width: 1500px) {
  .swiper_container {
    width: 90%; /* Wider container on smaller screens */
  }
  .swiperSlide {
    /* background-color: red; */
    min-width: 300px;
    max-height: 360px;
    padding: 15px;
  }
 
}
 
@media screen and (max-width: 800px) {
  .swiperSlide { 
    min-width: 250px;
    max-height: 320px;
    padding: 10px;
    transform: scale(0.9);
  }
  .swiperSlide.swiper-slide-prev,
  .swiperSlide.swiper-slide-next {
     
    transform: scale(0.7) !important; 
    opacity: 0.9; 
    z-index: 1;
  }
   
}

@media screen and (max-width: 600px) {
  .swiper_container { 
    width: 100%; /* Full width on mobile */
  }
  .swiperSlide {
    min-width: 250px;
    max-height : 400px;
    padding: 8px;
  }
 
}

@media screen and (max-width: 500px) {
  .swiper_container { 
    margin-top: 100px;
    width: 100%; /* Full width on mobile */
  }
  .swiper-button-next,
.swiper-button-prev{ 
    top: 60% !important;
    color: white !important; 
  }
  .swiperSlide {
    min-width: 200px;
    max-height: 300px;
    padding: 8px;
  }
}
@media screen and (max-width: 400px) {
  .swiper_container {
    width: 95%; /* Almost full width for extra padding */
  }
  .swiperSlide {
    min-width: 150px;
    min-height: 250px;
    padding: 5px;
    transform: scale(0.5); /* Reduced scale to fit small screens */
  }
  .swiperSlide.swiper-slide-prev,
  .swiperSlide.swiper-slide-next {
    transform: scale(0.9) !important; /* Smaller scale for prev and next slides */
  }
}
@media screen and (max-width: 300px) {
  .swiper_container {
    width: 90%; /* Almost full width for extra padding */
  }
  .swiperSlide {
    min-width: 130px;
    min-height: 250px;
    padding: 5px;
    transform: scale(0.45); /* Reduced scale to fit small screens */
  }
  .swiperSlide.swiper-slide-prev,
  .swiperSlide.swiper-slide-next {
    transform: scale(0.4); /* Smaller scale for prev and next slides */
  }
}

.swiperSlide img {
  max-width: 100%; /* Ensure images are responsive on small screens */
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffd700 !important; 
  font-size: 200px !important;;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 10px; 
}

.swiper-button-prev {
  left: 10px;  
}
 