
.swiperContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Centers the Swiper vertically and horizontally */
 }
 
 .mySwiper {
   width: 80%; /* Adjust to control the horizontal space it takes */
   max-width: 600px; /* Set a maximum width for the container */
   height: 400px; /* Set a height limit for the swiper */
   padding-top: 20px;
   padding-bottom: 20px;
 }
 
 .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 250px; /* Set the width of individual slides */
   height: 250px; /* Set the height of individual slides */
 }
 
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Ensure the images fit within slides without distortion */
 }